
html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0p;
  font-family: sans-serif;
  overflow: hidden;
  color: #FFEEAF;
}
.container{
  background-color: #7FB77E;
  width:100%;
  height: 100%;
  text-align: center;
  padding-top:5rem;
  display: flex;
  flex-direction: column;
}

.input{
    margin:10px auto;
  width: 16%;
  border-radius:4px;
  border: solid 2px #F7F6DC;
  padding: 8px;
  font-family: sans-serif;
  outline-style: none;
  
  
}
#show-btn{
  
  display: block;
  margin:10px auto;
  border-radius:4px;
  border: solid 2px #F7F6DC;
  padding: 8px;

}

#result{
  font-size: 1.4rem;
  padding: 5px;
  padding-left:35px;
  
}